* {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  padding: 0 12px;
  position: relative;
  background-color: #f4f5f7;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-top: 100px;
}

footer {
  margin-top: auto;
  margin-bottom: 12px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 16px;
}

li {
  padding: 8px;
}

input {
  display: block;
  margin-bottom: 12px;
  padding: 12px;
  border: 1px solid;
}

#book-entry {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
}

#books {
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
}

.book-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-item:nth-child(odd) {
  background-color: lightgrey;
}

.book-title {
  font-weight: 500;
}

.button {
  border: none;
  background-color: royalblue;
  padding: 16px;
  height: 48px;
  color: white;
}

.button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.small-button {
  padding: 0 16px;
  height: 32px;
}

.container {
  display: none;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.navbar {
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 5px 24px;
  background-color: white;
  filter: drop-shadow(0 0 16px rgba(64, 83, 252, 0.24));
  border-radius: 3px;
}

.navbar-brand {
  font-weight: bold;
  color: royalblue;
}

.navbar-nav {
  display: flex;
}

.nav-item {
  padding: 0 16px;
  border-right: 1px solid royalblue;
}

.nav-item:last-child {
  border: none;
}

.nav-link {
  color: inherit;
}

.active {
  color: royalblue;
}

.date-container {
  display: flex;
  justify-content: flex-end;
}

/* Align */

.justify-right {
  align-self: flex-end;
}

.text-center {
  text-align: center;
}

/* Colors */

.bg-danger {
  background-color: red;
}

/* Spacing */

.mb-12 {
  margin-bottom: 12px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.current-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  padding: 48px 0;
}

.contact {
  align-items: center;
}

.contact ul li {
  list-style-type: disc;
}

/* Large screen devices */
@media screen and (min-width: 992px) {
  #book-entry {
    width: 50%;
  }
}
